.attractions {
  display: flex;
  flex-direction: column;
}

.attractions__header {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 43px 12px 26px 12px;
}

.attractions__slogon {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @include margin-reset;

  margin-bottom: 27px;
}

.attractions__intro {
  color: #333333;

  @include margin-reset;
}

.attractions__wrapper {
  width: 320px;
  position: relative;
  margin: 0 auto;
}

.attractions__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @include list-reset;
}

.attractions__item {
  width: 320px;

  &--bg-round {
    background-color: $color-bg;
  }

  &--position {
    padding-top: 27px;
    background-color: $html-bg;
  }

  &:nth-child(6) p {
    border-bottom: none;
  }
}

.attractions__title {
  padding: 55px 0 6px 0;
  color: $color-sub;

  @include margin-reset;

  &--padding {
    padding-top: 38px;
  }

  &--text-modi {
    color: $color-primary;
    margin-bottom: 6px;

    @include padding-reset;
  }
}

.attractions__number {
  display: block;
  color: $color-sub;

  &--text-modi {
    margin-bottom: 13px;
    color: $color-primary;
  }
}

.attractions__description {
  font-size: 13px;
  line-height: 21px;
  margin: 0 auto 0 auto;
  padding: 12px 12px 40px 12px;
  color: $color-sub;

  &--text-modi {
    width: 280px;
    color: #333333;
    border-bottom: 1px solid #d6d6d6;

    @include padding-reset;

    padding-bottom: 27px;
  }
}

.attractions__image {
  display: block;

  &--order {
    order: -1;
  }
}

@media (max-width: $mobile-width-only) {
  .attractions__wrapper {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border: 160px solid transparent;
      border-top: 15px solid #ffffff;
    }
  }
}

@media (min-width: $table-width) {
  .attractions__header {
    width: 520px;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .attractions__slogon {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 27px;
  }

  .attractions__wrapper {
    min-width: 768px;
    margin: 0 auto;
  }

  .attractions__item {
    width: auto;
    display: flex;
    margin: 0 auto;

    &--bg-round {
      box-sizing: border-box;
      width: 261px;
      padding: 45px 24px 0 24px;
    }

    &--position {
      flex-direction: column;
      box-sizing: border-box;
      width: 256px;
      padding: 45px 41px 0 41px;
    }
  }

  .attractions__title {
    font-size: 20px;
    padding: 0;
    margin-bottom: 7px;
    color: $color-sub;

    &--text-modi {
      margin-bottom: 6px;
      color: $color-primary;
    }

    &--padding-modi {
      padding: 0 10px 0 10px;
    }
  }

  .attractions__number {
    margin-bottom: 9px;

    &--text-modi {
      margin-bottom: 19px;
    }
  }

  .attractions__image {
    width: 521px;
    height: 256px;
  }

  .attractions__description {
    &--text-modi {
      font-size: 13px;
      width: auto;
      border-bottom: none;
      margin-bottom: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .attractions__wrapper {
    min-width: 1200px;
  }

  .attractions__item {
    width: 1200px;

    &--bg-round {
      box-sizing: border-box;
      width: 400px;
      padding: 52px 24px 0 24px;
    }

    &--position {
      width: 400px;
      padding: 45px 19px 22px 19px;
    }
  }

  .attractions__title {
    font-size: 20px;
    padding: 0 94px 0 94px;
    margin-bottom: 7px;
    box-sizing: border-box;

    &--text-modi {
      margin-bottom: 7px;
      color: $color-primary;
    }

    &--padding-modi {
      padding: 0 102px 0 102px;
    }
  }

  .attractions__image {
    width: 800px;
    height: 256px;
  }

  .attractions__description {

    padding-bottom: 26px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;

    &--text-modi {
      font-size: 13px;
      width: auto;
      border-bottom: none;
      margin-bottom: 15px;
    }
  }
}
