.form-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .form-header {
    &::before {
      content: "";
      position: absolute;
      top: -27px;
      left: 0;
      border: 23px solid transparent;
      border-bottom: 4px solid #ffffff;
      border-left: 140px solid #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      top: -27px;
      right: 0;
      border: 23px solid transparent;
      border-bottom: 4px solid #ffffff;
      border-right: 140px solid #ffffff;
    }
  }
}
