.hotel-search {
  width: 320px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 48px;
}

.hotel-search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search__title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.hotel-search__description {
  text-align: center;
  line-height: 24px;
  margin-bottom: 35px;
}

.hotel-search__button {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  cursor: pointer;
  color: $html-bg;
  width: 280px;
  height: 58px;
  border: none;
  background-color: $color-bg;
}

@media (min-width: $table-width) {
  .hotel-search {
    width: 768px;
    padding-top: 57px;
  }

  .hotel-search__wrapper {
    box-sizing: border-box;
  }

  .hotel-search__title {
    box-sizing: border-box;
    font-size: 31px;
    letter-spacing: -2px;
    margin-top: 0;

    margin-bottom: 16px;
  }

  .hotel-search__description {
    color: #333333;
    margin-bottom: 41px;
    box-sizing: border-box;
    padding-left: 163px;
    padding-right: 163px;
  }

  .hotel-search__button {
    width: 456px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__description {
    margin-bottom: 47px;
  }
}
