.hotel-search {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 48px;
}

.hotel-search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search__title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.hotel-search__description {
  text-align: center;
  line-height: 24px;
  margin-bottom: 35px;
}

.hotel-search__button {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-sub;
  width: 320px;
  height: 58px;
  border: none;
  background-color: $color-bg;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--disabled {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    cursor: default;
    color: $color-sub;
    width: 280px;
    height: 58px;
    border: none;
    background-color: #e5e5e5;
  }
}

.search__modal {
  display: none;
  position: absolute;
  left: 50%;
  width: 320px;
  padding: 20px;
  margin-left: -160px;
  background-color: #ffffff;
  box-shadow: 0px 20px 15px -15px rgba(0, 0, 1, 0.15);
  box-sizing: border-box;
  z-index: 10;

  &--show {
    display: block;
  }
}

.modal__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.list__grid {

  @include list-reset;
}

.modal__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;


  &--reset{
    justify-content: start;
  }
}

.modal__item input {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  width: 55%;
  padding: 6px 10px 6px 10px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.item__header {
  margin-right: auto;
  letter-spacing: -0.4px;
}

.item__element {
  font-size: 20px;
  padding: 8px 14px 8px 14px;
  background-color: #F2F2F2;
  color: #A9A9A9;
  cursor: pointer;

  &--reset {
    font-size: 14px;
    color: #000000;
    cursor: auto;
  }
}

.item__element:hover {
  color: #000000;
}

.item__element:active {
  color: #81B3D2;
}

.modal__button {
  width: 100%;
}

.modal__item input:hover {
  background-color: #EBEBEB;
}

.modal__item input:focus {
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
}

@media (min-width: $table-width) {
  .hotel-search {
    width: 768px;
    padding-top: 57px;
  }

  .hotel-search__wrapper {
    box-sizing: border-box;
  }

  .hotel-search__title {
    box-sizing: border-box;
    font-size: 31px;
    letter-spacing: -2px;
    margin-top: 0;

    margin-bottom: 16px;
  }

  .hotel-search__description {
    color: #333333;
    margin-bottom: 41px;
    box-sizing: border-box;
    padding-left: 163px;
    padding-right: 163px;
  }

  .hotel-search__button {
    width: 456px;

    &--disabled {
      font-size: 21px;
      font-weight: bold;
      letter-spacing: -1px;
      text-transform: uppercase;
      cursor: default;
      color: $color-sub;
      width: 456px;
      height: 58px;
      border: none;
      background-color: #e5e5e5;
    }
  }

  .search__modal {
    width: 456px;
    padding: 50px;
    margin-left: -228px;
    box-shadow: 0 10px 10px rgba(0,0,1,.15);
  }

  .list__grid {
    display: flex;
    justify-content: space-between;
  }

  .modal__item {
    margin-bottom: 30px;


    &--reset{
      justify-content: start;
    }
  }

  .modal__item input {
    width: 65%;
  }

  .modal__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__description {
    margin-bottom: 47px;
  }
}
