.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__wrapper {
  display: flex;
  height: 388px;
  justify-content: center;
  margin-top: -35px;
  background: url("../../img/bg-back-mobile@1x.jpg") top no-repeat;

  &--padding {
    height: 156px;
    background: url("../../img/bg-back-mobile@1x.jpg") bottom no-repeat;
  }
}
