.page-main__wrapper {
  padding-top: 90px;
  padding-bottom: 77px;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat;

  &--padding {
    padding-top: 52px;
    padding-bottom: 66px;
  }
}
