.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 35px;
}

.page-footer__contacts {
  margin-bottom: 14px;
}

.contacts__text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__social {
  margin-bottom: 40px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  margin-right: 7px;
  background-color: $color-bg;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__item:nth-child(3) {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  fill: #ffffff;
}

.copyright {
  display: flex;
  line-height: 0;
}

.copyright a {
  margin-left: 10px;
}

.copyright__icon {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: $table-width) {
  .page-footer {
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    width: 650px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
  }
}
